.footer {
    background-color: #f8f9fa;
    padding: 20px 25px;
    border-radius: 10px;
    border-left: 9px solid #972328;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #343a40;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.footer p {
    font-size: 16px;
    margin-bottom: 15px;
}
.footer a {
    margin: 0 12px;
    display: inline-block;
}
.footer img {
    height: 36px;
    width: 36px;
    border-radius: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.footer img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px rgba(5, 206, 106, 0.4);
}

 .download-btn { background-color: #1E3A8A; color: rgb(251, 235, 235);
     font-weight: bold; padding: 10px 20px;
      border-radius: 8px; border: none; cursor: pointer; }
      .download-btn:hover { background-color: #3B82F6; }


.assistant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05); /* Fundo sutil para Dark Mode */
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;    
    padding: 1.0em;
    margin: 0.7em auto;    
    width: 90%; /* ocupa dinamicamente a largura da sidebar */
    max-width: 280px; /* limite para não ficar exagerado */
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.assistant-label {
    font-family: 'Inter', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.5px;
    text-transform: title;
    font-weight: 700;
    color: #1f77b4; 
    margin-bottom: 0.4em;
    margin-top: 0.4em;
    text-align: center;
}

.assistant-icon {
    height: 4em;
    width: 4em;
    border-radius: 10px;
    background: linear-gradient(135deg, #1f77b4 0%, #1f77b4 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 15px rgba(151, 35, 40, 0.3);
    animation: pulseGlow 1s infinite ease-in-out;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    border: 2px solid rgba(255,255,255,0.1);
}

.assistant-icon img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain /* evita deformação */
    
}

/* Hover */
.assistant-icon:hover {
    transform: translateY(-5px) scale(1.2);
    box-shadow: 0 15px 25px rgba(45, 35, 151, 0.5);
}

/* Animação contínua */
@keyframes pulseGlow {
    0% { box-shadow: 0 0 0 0 rgba(45, 35, 151, 0.5); }
    70% { box-shadow: 0 0 0 15px rgba(151, 35, 40, 0); }
    100% { box-shadow: 0 0 0 0 rgba(151, 35, 40, 0); }
}